DB_MODE=sql
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DB?schema=public

JWT_SECRET=secret
JWT_EXPIRE=7d

PORT=3000
FRONTEND_URL=http://localhost:8081
ENABLE_CAMPUS_SIMULATION=false
GMAIL_ID=<for sending OTP>
GMAIL_PASSWORD=
EMERGENCY_MEDICAL_PHONE=9329594882
EMERGENCY_SECURITY_PHONE=7217492629
EMERGENCY_FIRE_PHONE=8618275578
EMERGENCY_OTHER_PHONE=7909069340
