DB_MODE=sql
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DB?schema=public

JWT_SECRET=secret
JWT_EXPIRE=7d

PORT=3000
FRONTEND_URL=http://localhost:8081
ENABLE_CAMPUS_SIMULATION=false
GMAIL_ID=<for sending OTP>
GMAIL_PASSWORD=
EMERGENCY_MEDICAL_PHONE=
EMERGENCY_SECURITY_PHONE=
EMERGENCY_FIRE_PHONE=
EMERGENCY_OTHER_PHONE=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

APNS_KEY_ID=YOUR_APNS_KEY_ID
APNS_TEAM_ID=YOUR_APPLE_TEAM_ID
APNS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_APNS_KEY\n-----END PRIVATE KEY-----\n"

APNS_BUNDLE_ID=com.abdul.aegis
APNS_USE_PRODUCTION=false

ANDROID_NOTIFICATION_CHANNEL_ID=default

IOS_BUNDLE_IDENTIFIER=com.abdul.aegis
